/* #table-container {
    width:920px;
    padding:12px;
    background:#f6f6f6;
    height:500px;
    font-size: 11px;
    font-family: sans-serif;
}

#table-container input {
    font-size: 11px;
}

#table-container th {
    background: #000;
    color: #fff;
} */